<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}
    Layout
    {% endblock  %}</title>
</head>
<body>
    <h3>Layout</h3>
    {% block  adnan %}
    <p>Burası Layouttur..</p>
    {% endblock  %}
</body>
</html>