<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Todo App</title>
</head>

<body>
    <div style="margin-top:100px;" class="container">
        <h3>Todo List</h3>
        <!-- <hr> -->
        <form action="/add" method="POST">
            <div class="form-group">
                <label for="formGroupExampleInput">Todo Başlık</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Todo giriniz">
                <br>
                <button type="submit" class="btn btn-danger">Ekle</button>
                <hr>
            </div>
        </form>
        {% if todos :%}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">Todo Durum</th>
                    <th scope="col">Durum Güncelle</th>
                    <th scope="col">Todo Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <th scope="row">{{todo.id}}</th>
                    <td>{{todo.title}}</td>
                    {% if todo.complate == False %}
                    <td>Tamamlanmadı</td>
                    {% else %}
                    <td>Tamamlandı</td>
                    {% endif %}

                    <td><a href="/update/{{todo.id}}" class="btn btn-primary">Tamamla</a></td>
                    <td><a href="/delete/{{todo.id}}" class="btn btn-danger">Sil</a></td>
                </tr>                
                {% endfor %}

            </tbody>
        </table>
        {% else %}
        <div class="alert alert-danger" role="alert">
                Her hangi bit kayıt bulunmuyor!
              </div>
        {% endif %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>