{% block title %} Hakkımızda{% endblock%}
{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Herkese merhaba. Ben Mustafa Murat Coşkun. Odtü Bilgisayar Mühendisliği 4.sınıf öğrencisiyim. Yazılım Bilimi kanalını
programlama ve yazılım öğrenmek isteyen gençlere ve yazılımcılara faydalı olmak ,aynı zamanda Türkiyede yazılımın ve
eğitimin yükselmesi amacıyla 10 Nisan 2015 tarihinde kurdum.Şimdiye kadar elimden geldiğince video yüklemeye çalıştım.Bu
kanaldaki amacım Yazılım Bilimini genel bir online akademiye dönüştürüp Türkiye’nin dört bir yanına ücretsiz bir şekilde
eğitim verebilmek.Ülkemizin gençleri olarak hep beraber yazılımı ve bilimi herkese aşılamaya çalışalım.Var mısınız?
<hr>
{% endblock  %}