{% extends "layout.html" %}

{% block title %}
Makale Detay
{% endblock title %}

{% block body %}

{% if article %}
<h4>{{article.title}}</h4>
<hr/>
Yazar : {{article.author}}
<hr/>
Tarih : {{article.created_date}}
<hr/>
<p>{{article.content|safe}}</p>
{% else %}
<div class="alert alert-warning" role="alert">
    Makale bulunamadı
  </div>
{% endif %}
{% endblock body %}