{% block title %} Makaleler{% endblock%}
{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Kontrol Paneli / Makale Detay</h3>
<small>Hoşgeldin, {{session["username"]}}</small>
<hr/>
    <form method='post'>
        <dl>        
            {{ render_field(form.title,class = 'form-control') }}
            {{ render_field(form.content,class = 'form-control') }}
        </dl>
        <button type="submit" class="btn btn-danger">Güncelle</button>
    </form>
{% endblock  %}