{% block title %} Anasayfa{% endblock%}
{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-center">
    <h3>Yazılım Bilimi Bloğuna Hoşgeldiniz</h3>
    <p>
        Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir
        matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri
        endüstri standardı sahte metinler olarak kullanılmıştır.
    </p>
</div>
{% if answer=='evet' %}
<p>cevabımız evetmiş...</p>
{% elif answer=='hayir' %}
<p>cevabımız hayırmış...</p>
{% else %}
<p>cevabımız belli değil...</p>
{% endif %}
<h5>Sayılar</h5>
<ul>
    {% for number  in  numbers %}
    <li>{{number}}</li>
    {% endfor %}
</ul>
<h5>İsimler</h5>
<ul>
    {% for item in names %}
    <li>id: {{item.id}}, Ad-Soyad: {{item.name}}</li>
    {% endfor %}
</ul>
{% endblock  %}