{% extends "layout.html" %}
{% block title %}
Giriş Formu
{% endblock title %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<h3>Giriş Yap</h3>
<hr />
<form method='post'>
    <dl>        
        {{ render_field(form.username,class = 'form-control') }}
        {{ render_field(form.password,class = 'form-control') }}    
    </dl>
    <button type="submit" class="btn btn-primary">Giriş</button>
</form>
{% endblock body %}